@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');


:root {
    --main-orange: #FF631B;
    --main-dark-blue: #171B2A;
    --main-font: "Bricolage Grotesque", sans-serif;
}


/* !moving dot animation */
@keyframes moveDot {
    0% {
      left: -10px;
    }
    50% {
      left: calc(100% - 4px);
    }
    100% {
      left: -10px;
    }
}


/* !progress bar animation */
@keyframes load {
  to {
    width: var(--level);
  }
}

/* !media queries */
@media (max-width: 992px) {
  .memeber-name h5 {
      font-size: 16px;
  }

  .memeber-name p {
      font-size: 12px;
  }


  .pricing-cards-container {
    flex-direction: column;
    align-items: center;
  }

  .pricing-card {
      width: 80%;
      margin-bottom: 2rem;
  }

}

@media (max-width: 576px) {
  .memeber-name h5 {
      font-size: 14px;
  }

  .memeber-name p {
      font-size: 11px;
  }
}

@media (max-width: 768px) {
  .orange-bar {
      opacity: 1;
      transform: translateY(0);
  }
  .price-box h1 {
    font-size: 50px;
  }
}

