@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');


:root {
    --main-orange: #FF631B;
    --main-dark-blue: #171B2A;
    --main-font: "Bricolage Grotesque", sans-serif;
}

btn-primary{
    background-color: #FF631B;
}

@keyframes moveDot {
    0% {
      left: -10px;
    }
    50% {
      left: calc(100% - 4px);
    }
    100% {
      left: -10px;
    }
}