@import url(config.css);
holder
*{
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

html, body{
    margin: 0;
    padding: 0;
}

.header-container .contact-text{
    background-color: var(--main-dark-blue);
    color: white;
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem 1rem 6rem;
}

.header-container .icon-holder{
    background-color: var(--main-orange);
    display: block;
    justify-items: center;
    padding: 1rem 4rem 1rem 8rem;
}

.header-container .contact-text h5::first-letter{
    color: var(--main-orange);
}

.icon-holder img{
    color: white;
    margin-right: 5px;
}

.icon-holder img:hover{
    scale: 0.9;
}

.header-button{
    margin-right: 110px;
    background-color: #FF631B;
    border:none;
    padding: 15px;
    color: white;
}

.header-button:hover{
    background-color: var(--main-dark-blue);
}

.navbar{
    margin: auto -10px auto -10px;
}

.carousel img{
    filter: brightness(50%);
}

.carousel h1{
    font-weight: bolder;
    text-transform: uppercase;
    scale: 1.3;
    text-align: left;
}

.intro-carousel-contents h6, h1, p{
    animation-delay: 1s;
    animation-duration: 3s;
}

.intro-carousel-contents .button-section{
    animation-delay: 2s;
    animation-duration: 1s;
}

.colored{
    color: var(--main-orange);
}

.carousel-caption p{
    scale: 0.8;
    text-align: left;
    position: relative;
    margin-top: 1.5rem;
    left: -25%;
}

.sub-title{
    color: var(--main-orange);
    text-align: left;
    font-weight: bold;
    margin-left: -3.5rem;
    margin-bottom: 10%;
}

.button-section{
    display: flex;
    gap: 3rem;
    border-radius: none;
    margin-left: -55px;
}

.carousel{
    margin: auto -10px auto -10px;
}

.slider-button a{
    color: white;
    text-decoration: none;
}

.slider-button a:hover{
    color: rgb(192, 192, 192);
}

.footer-button:hover{
    background-color: white;
    color: var(--main-orange);
}

.basic-button, .footer-button{
    background-color: #FF631B;
    border:none;
    padding: 15px;
    color: white;
}

.basic-button:hover{
    background-color: var(--main-dark-blue);
}

.aboutUsInfo h6, h1{
    text-transform: uppercase;

}

.custom-bullet{
    width: 1rem;
    height: 1rem;
    margin-right: 8px;
}

.aboutUsInfo li{
    list-style: none;
    margin-left: -35px;
}

.mini_title{
    color: var(--main-orange);
    font-weight: 900;
    text-transform: uppercase;
}

.aboutUsInfo p{
    color: rgb(124, 124, 124);
    scale: 0.8;
    margin-left: -60px;
}

.aboutUsImg img{
    width: 100%; 
    max-width: 400px;
    margin: auto;
    margin-left: 5rem;
}

.aboutUsImg{
    position: relative;
}

.decor-div-square{
    width: 70px;
    height: 360px;
    border: 7px solid var(--main-orange);
    position: absolute;
    left: 14%;
    top: 10%;
    z-index: -1;
}

.decor-div-dots{
    width: 70px;
    height: 100px;
    border: 7px dotted var(--main-orange);
    position: absolute;
    left: 77%;
    top: 85%;
    z-index: -1;
}

.decor-div-number{
    width: 160px;
    height: 90px;
    background-color: var(--main-orange);
    position: absolute;
    left: 20%;
    bottom: 0;
    color: white;
}

.decor-div-number p{
    scale: 0.8;
}

.decor-div-number h1{
    margin-left: 15px;
}

.services-section, .team-section, .testimonials-section {
    position: relative;
    background-color: #f3f6f9;
    padding: 100px;
    overflow: hidden;
    margin: auto -10px auto -10px;
}
  

.bg-shape {
    position: absolute;
    background-color: rgba(255, 99, 27, 0.15);
    border-radius: 50%;
    z-index: 0;
}
  

.bg-left {
    width: 180px;
    height: 180px;
    top: 80px;
    left: -60px;
}
  

.bg-right {
    width: 200px;
    height: 200px;
    bottom: 60px;
    right: -80px;
}
  
.services-section .main-info-container {
    position: relative;
    z-index: 1;
}

.service-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card-link{
    color: var(--main-orange);
    text-decoration: none;
    font-weight: 700;
}

.card-link:hover{
    color: black;
}

.service-card-container .card{
    overflow: hidden;
}

.service-card-container .card::before,
.service-card-container .card::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid white;
  transition: width 0.3s ease, height 0.3s ease;
}

.service-card-container .card::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.service-card-container .card::after {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
}

.service-card-container .card:hover::before,
.service-card-container .card:hover::after {
  width: 60px;
  height: 60px;
  border-color: var(--main-orange);
}

.service-card-container .card-body h5, p, a{
    padding-left: 10px;
}

.service-card-container .card-body h5:hover{
    color: var(--main-orange);
}


.line {
    position: relative;
    width: 80px;
    height: 4px;
    background-color: var(--main-orange);
    overflow: hidden;
    justify-self: center;
    margin-bottom: 5px;
}
  
.dot {
    position: absolute;
    top: 50%;
    left: -10px;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    transform: translateY(-50%);
    animation: moveDot 5s ease-in-out infinite;
}

.text-container-cases{
    background-color: white;
    width: 19rem;
    margin-top: 40%;
}

.text-container-cases h5{
    color: var(--main-dark-blue);
    font-weight: 800;
}

.text-container-cases .card-text{
    margin-bottom: 5px;
    margin-left: -5px;
}

.text-container-cases button{
    border: none;
    padding: 2px;
    width: 40px;
    height: 40px;
    background-color: var(--main-orange);
    color: white;
    margin-left: 1rem;
}

.text-container-cases button h6{
    margin-top: 9px;
}

.text-container-cases button:hover{
    background-color: var(--main-dark-blue);
}

.video-section{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("../images/building-home.jpeg") center / cover no-repeat;
    padding: 70px 0;
    margin-top: 5rem;
}

.info-container{
    background-color: var(--main-orange);
    padding: 30px 0;
    color: white;
}

.sub-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.sub-info h1{
    margin-top: -60px;
    font-weight: 900;
    font-size: 400%;
}

.sub-info img{
    scale: 0.3;
    margin-top: -2rem;
}

.skill-image img {
    width: 100%;
    height: auto;
}

.skill-image {
    display: flex;
    justify-content: center;
}

.skill-description h1{
    font-weight: 900;
}

.skill-description p{
    color: rgb(124, 124, 124);
}

.progress-bar{
    margin-top: 1rem;
}

.bar-description{
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    margin-bottom: 8px;
}

.bar{
    height: 6px;
    background: #e9ecf5;
    overflow: hidden;
}

.filled-part{
    height: 100%;
    width: 0;
    background: #ff6a1a;
    animation: load 1.2s ease-out forwards;
    animation-delay: 0.2s;
}

.skill-button{
    margin-top: 2rem;
}

.team-members-conatiner{
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.team-member{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: transform 0.3s ease;
}

.team-member:hover{
    transform: translateY(-10px);
}

.team-member:hover .orange-bar{
    opacity: 1;
    transform: translateY(0);
}

.orange-bar {
    position: absolute;
    left: 75%;
    top: 5%;
    width: 3rem;
    height: auto;
    background-color: var(--main-orange);
    opacity: 0;
    transform: translateX(40px);  
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.orange-bar img{
    scale: 0.7;
 }

.team-member img{
    width: 95%;
}

.memeber-name{
    width: 80%;
    height: auto;
    border-left: 3px solid var(--main-orange);
    border-right: 3px solid var(--main-orange);
    position: absolute;
    background-color: white;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 10px 60px #dadada;
}

.memeber-name h5{
    font-weight: 900;
    color: var(--main-dark-blue);
    margin-left: 10px;
    margin-top: 1rem;
}

.memeber-name p{
    font-weight: 900;
    color: var(--main-orange);
}

.pricing-section{
    margin: 10rem auto 10rem auto;
}

.pricing-cards-container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.pricing-card{
    flex: 1;
    min-width: 280px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    box-shadow: 0 5px 20px #dadada;
    transition: transform 0.3s ease;
}

.pricing-card:hover{
    transform: translateY(-13px);
}

.pricing-card h4{
    font-weight: 800;
    color: var(--main-orange);
}

.price-box h1{
    font-weight: 900;
    color: white;
    font-size: 70px;
    margin-top: 1rem;
}

.mini-price-bubble{
    background-color: var(--main-orange);
    width: 30%;
    height: auto;
    margin-top: -1.5rem;
    color: white;
    font-weight: 800;
    text-align: center;
    padding-top: 10px;
    border-radius: 30px;
    margin-bottom: 3rem;
}

.price-box{
    width: 100%;
    background-color: var(--main-orange);
    height: 25%;
    padding: 10px;
}

.price-plan-pros p{
    margin-bottom: 1rem;
    color: rgb(124, 124, 124);
}

.price-plan-pros{
    margin-bottom: 2rem;
}

.choose-us-image img{
    margin-left: -10px;
}

.choose-us-info{
    background-color: var(--main-dark-blue);
    color: white;
}

.choose-us-info p{
    color: rgb(124, 124, 124);
    font-weight: 800;
}

.choose-us-info ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.faq-info h1{
    font-weight: 900;
}

.faq-info p{
    color: rgb(124, 124, 124);
}

.faq-collapses button{
    box-shadow: 0 10px 60px #dadada;
}

.blog-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    gap: 2rem;
    width: 80%;
}


.blog-cards-container .card-title{
    color: var(--main-dark-blue);
    font-weight: 700;
}

.blog-cards-container .sub-info{
    color: var(--main-dark-blue);
}

.blog-cards-container .sub-info:hover{
    color: var(--main-orange);
}

.blog-cards-container .card-title:hover{
    color: var(--main-orange);
}

.credits{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

.footer-section{
    background-color: var(--main-dark-blue);
    color: white;
    padding: 4rem 0;
}

.first-foot-contents{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.footer-icons{
    margin-top: 1rem;
}

.quick-links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1.5rem;
}

.quick-links a, .our-services-links a{
    text-decoration: none;
    color: white;
    margin-top: 1rem;
    margin-left: -1rem;
}

.quick-links a::first-letter, .our-services-links a::first-letter{
    color: var(--main-orange);
}

.quick-links a:hover, .our-services-links a:hover{
    color: var(--main-orange);
}

.quick-links h5, .our-services-links h5{
    font-weight: 800;
}

.our-services-links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1.5rem;
}

.forth-footer-col input{
    background: none;
    border: 1px solid white;
    color: white;
    padding: 0.7rem;
}

.forth-footer-col input::placeholder{
    color: white;
}

.newsletter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1.5rem;
    width: 100%;
    max-width: 100%;
}

.copyright-claim{
    background-color: rgb(45, 44, 48);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    margin: auto -11px auto -11px;
}

.copyright-links a{
    color: white;
    text-decoration: none;
}

.copyright-links a:hover{
    color: var(--main-orange);
}

.page-decor{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("../images/excavator.jpeg") center / cover no-repeat;
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    margin: auto -10px auto -10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.page-decor h3{
    font-weight: 900;
    text-transform: uppercase;
}

.page-decor a{
    color: white;
    text-decoration: none;
}

.page-decor a:hover{
    color: var(--main-orange);
}

.number-info-container{
    background-color: var(--main-orange);
    height: 17rem;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto -10px auto -10px;
}

.sub-number-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: auto -10px auto -10px;
}

.sub-number-info h1, h4{
    margin-top: -80px;
}

.sub-number-info h1{
    font-weight: 900;
    font-size: 300%;
}

.sub-number-info img{
    scale: 0.3;
    margin-top: -2rem;
}

.form-section{
    width: 90%;
    margin: 10rem auto 15rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    padding: 3rem;
    box-shadow: 0 10px 60px #dadada;
}

.form-details-singular{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.form-details{
    flex: 1 1 300px;
}

.contact-form{
    width: 50%;
    align-self: flex-start;
    margin-top: 5%;
    flex: 1 1 400px;
}

.contact-form p{
    margin-left: -0.5rem;
}

.contact-form input{
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(192, 192, 192);
}

.contact-form textarea{
    width: 100%;
    height: 150px;
    padding: 0.7rem;
    border: 1px solid rgb(192, 192, 192);
}
